[submodule "Services/microService/submodule"]
	path = Services/microService/submodule
	url = https://github.com/Suraj-Vashista-BK/microservice
	branch = master
[submodule "Services/microservice-kubernetes/submodule"]
	path = Services/microservice-kubernetes/submodule
	url = https://github.com/Suraj-Vashista-BK/microservice-kubernetes
	branch = master
